.button {
  display: block;

  width: 280px;
  margin: 0;
  padding: 9px 0 11px;

  background-color: $green;

  @include oswald-regular(14px, 18px, $white);
  @include uppercase();
  text-align: center;
  text-decoration: none;

  border: none;
}

.button:hover,
.button:focus {
  background-color: $green--down;
}

.button:active {
  background-color: $green--down;
  color: $white--down;
}
