.catalog-all {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 26px 20px 23px;

  border-bottom: 1px solid $border-color;
}

.catalog-all__title {
  margin: 23px 0 8px 0;

  @include oswald-regular(16px, 20px, $black);
  @include uppercase();
  text-align: center;
}

.catalog-all__text {
  margin: 0 0 22px 0;

  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.catalog-all__button {
  background-color: $light-grey;

  @include oswald-regular(16px, 20px, $grey);
  @include uppercase();
}

.catalog-all__button:hover {
  background-color: $light-grey--down;
}

.catalog-all__button:active {
  color: #b9b9b9;
}

@media (min-width: $tablet-width) {
  .catalog-all {
    box-sizing: border-box;
    width: 324px;
    min-height: 432px;
    padding: 69px 38px 40px;

    border: 1px solid $border-color;
  }

  .catalog-all svg {
    transform: scale(2);
  }

  .catalog-all__title {
    margin: 65px 0 28px;
    padding: 0 55px;

    @include oswald-regular(20px, 20px, $black);
  }

  .catalog-all__text {
    margin-bottom: auto;
    padding: 0 39px;

    font-size: 16px;
  }

  .catalog-all__button {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .catalog-all {
    width: 245px;
  }

  .catalog-all__title {
    padding: 0;
  }

  .catalog-all__text {
    padding: 0;
  }
}
