.comments {
  padding: 16px 17px 24px;
}

.comments__title {
  position: relative;

  margin: 0 0 34px 0;

  @include oswald-regular(24px, 24px, $black);
}

.comments__title::after {
  content: "";

  position: absolute;
  top: 12px;
  right: -20px;

  width: 158px;
  height: 3px;

  background-color: $green;
}

.comments__text {
  box-sizing: border-box;

  width: 280px;
  min-height: 150px;
  margin: 0;
  padding: 13px;

  @include oswald-regular(16px, 18px, $grey);
  @include uppercase();

  border: 1px solid $border-color;
}

@media (min-width: $tablet-width) {
  .comments {
    padding: 0 68px;
  }

  .comments__title {
    margin: 45px 0 76px;

    @include oswald-regular(36px, 36px, $black);
  }

  .comments__title::after {
    top: 22px;
    right: -70px;

    width: 478px;
  }

  .comments__title::before {
    content: "";

    position: absolute;
    top: 22px;
    left: -65px;

    width: 30px;
    height: 3px;

    background-color: $green;
  }

  .comments__text {
    width: 628px;
    min-height: 175px;
    padding-top: 10px;
    padding-left: 20px;

    @include oswald-regular(20px, 30px, $grey);
  }
}

@media (min-width: $desktop-width) {
  .comments {
    padding: 0 109px;
  }

  .comments__title {
    margin: 47px 0 75px;
  }

  .comments__title::after {
    top: 22px;
    right: -110px;

    width: 1112px;
  }

  .comments__title::before {
    top: 22px;
    left: -110px;

    width: 70px;
  }

  .comments__text {
    width: 1220px;
    padding-left: 20px;

    @include oswald-regular(20px, 30px, $grey);
  }
}
