.description {
  padding: 22px 20px 42px;
}

.description__title {
  margin: 0;
  margin-bottom: 23px;

  @include oswald-regular(36px, 60px, $black);
}

.description__list {
  @include list-style();
}

.description__item {
  margin-bottom: 20px;
  padding: 4px 0 6px 80px;
}

.description__text {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .description__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .description__item {
    width: 324px;
    padding: 0;
  }

  .description__text {
    width: 243px;
  }
}

@media (min-width: $desktop-width) {
  .description {
    padding: 0 110px;
  }

  .description__item {
    width: 245px;
  }
}
