.example {
  background-color: $light-grey;
  padding: 19px 20px 44px;
}

.example__title {
  margin: 0;
  margin-bottom: 21px;

  @include oswald-regular(36px, 60px, $black);
}

.example__text {
  margin: 0;
  padding-right: 12px;
}

.example__table {
  margin-top: 27px;
  margin-bottom: 38px;
}

.example__table-value--big {
  padding-top: 14px;
  padding-bottom: 16px;

  @include oswald-regular(24px, 24px, $black);
  @include uppercase();
  text-align: center;

  border: 1px solid #cdcdcd;
  border-radius: 5%;
}

.example__expenses {
  @include oswald-regular(14px, 20px, $black);
  @include uppercase();
  text-align: center;
}

.example__scale {
  margin-top: 34px;
  padding-left: 44px;
  padding-right: 38px;
}

.example__scale-text {
  @include oswald-regular(16px, 20px, $black);
  @include uppercase();
  text-decoration: underline;
  text-decoration-color: $black--down;
}

.example__scale-text:hover {
  text-decoration: underline;
  text-decoration-color: $black--hover;
}

.example__scale-text:active {
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .example {
    padding: 0;
    background-color: $white;
  }

  .example__column {
    display: flex;
    justify-content: space-between;
  }

  .example__grey {
    background-color: $light-grey;
  }
}

@media (min-width: $desktop-width) {
  .example__title {
    margin-left: 110px;
  }

  .example__wrapper {
    display: flex;
    justify-content: space-between;

    padding: 0 110px;

    background-color: $light-grey;
  }

  .example__info {
    width: 450px;
  }

  .example__column {
    flex-direction: column;
    align-items: flex-start;
  }
}
