.extra {
  padding-left: 20px;
  padding-right: 20px;
}

.extra__catalog-title {
  margin: 0;
  padding-top: 31px;
  padding-bottom: 33px;

  @include oswald-regular(24px, 24px, $black);

  border-bottom: 1px solid #cdcdcd;
}

.extra__list {
  @include list-style();
}

.extra__item {
  padding: 14px 0 18px 0;

  border-bottom: 1px solid #cdcdcd;
}

.extra__title {
  margin: 0;
  margin-bottom: 14px;

  @include oswald-regular(16px, 16px, $black);
  @include uppercase();
}

.extra__info {
  display: flex;
  justify-content: space-between;
}

.extra__quantity {
  font-size: 14px;
  line-height: 14px;
  text-align: left;
}

.extra__price {
  font-size: 14px;
  line-height: 14px;
  text-align: right;
}

.extra__button {
  margin-top: 15px;

  @include oswald-regular(16px, 20px, $white);
  @include uppercase();
}

.extra__column--order {
  margin: 40px 0 36px 0;

  background-color: $green;
  background-size: 280px 289px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.extra__text {
  margin: 0;
  padding: 189px 60px 44px 60px;

  color: $white;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .extra {
    padding: 0 30px;
  }

  .extra__list {
    padding: 0 38px;
  }

  .extra__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .extra__info {
    width: 285px;
  }

  .extra__button {
    width: 634px;
  }

  .extra__column--order {
    background-size: 708px 200px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-repeat: no-repeat;
  }

  .extra__text {
    padding: 38px 90px 67px 423px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .extra {
    margin-bottom: 90px;
    padding: 0 110px;
  }

  .extra__catalog-title {
    border: none;
  }

  .extra__columns {
    display: flex;
    justify-content: space-between;
  }

  .extra__list {
    padding: 0;
  }

  .extra__title {
    width: 245px;
  }

  .extra__button {
    width: 245px;
  }

  .extra__column--catalog {
    width: 895px;
  }

  .extra__column--order {
    width: 245px;

    background-size: 245px 289px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-repeat: no-repeat;
  }

  .extra__text {
    padding: 189px 39px 39px 39px;
    text-align: left;
  }
}
