.food-program__fieldset {
  border: none;
}

.food-program__form-button {
  margin: 20px 20px 0;

  @include oswald-regular(16px, 20px, $white);
  @include uppercase();
}

.food-program__important {
  margin: 16px 20px 33px 24px;

  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .food-program__block {
    display: flex;
    align-items: baseline;

    margin-top: 15px;
    margin-bottom: 73px;
  }

  .food-program__form-button {
    width: 284px;
    margin: 0 66px 0 70px;
    padding: 14px 6px 15px;

    @include oswald-regular(20px, 20px, $white);
  }

  .food-program__important {
    margin: 0;

    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: $desktop-width) {
  .food-program__column {
    display: flex;
    justify-content: space-between;
  }

  .food-program__block {
    margin-bottom: 83px;
  }

  .food-program__form-button {
    width: 570px;
    margin: 0 80px 0 110px;
  }
}
