.footer-copyright {
  width: 280px;
  margin: 0 auto;
  padding: 23px 0;

  border-top: 1px solid #d9d9d9;
}

.footer-copyright__text {
  margin: 0;

  font-size: 16px;
  line-height: 16px;
  color: $grey;
}

.footer-copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-copyright__link:hover {
  color: $grey--hover;
  opacity: 0.8;
}

.footer-copyright__link:active {
  color: $grey--down;
  opacity: 0.3;
}

.footer-copyright__link:hover path,
.footer-copyright__link:active path {
  fill: $green;
}

@media (min-width: $tablet-width) {
  .footer-copyright {
    box-sizing: border-box;

    width: 236px;
    padding-left: 75px;

    border: none;
  }
}

@media (min-width: $desktop-width) {
  .footer-copyright {
    box-sizing: border-box;

    width: 400px;
    padding-left: 235px;
  }
}
