.footer-contacts__block {
  display: flex;
  justify-content: space-between;

  padding: 30px 20px 28px;
}

.footer-contacts__block--index {
  background-color: $white;
}

.footer-contacts__text {
  margin: 0;

  @include oswald-regular(16px, 20px, $black);
  @include uppercase();
}

.footer-contacts__address {
  color: $black;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
}

@media (min-width: $tablet-width) {
  .footer-contacts__text {
    width: 165px;
  }

  .footer-contacts__address {
    width: 153px;

    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .footer-contacts {
    position: relative;
  }

  .footer-contacts__block {
    position: absolute;
    top: 96px;
    left: 110px;

    box-sizing: border-box;

    width: 570px;

    background-color: $white;
  }
}
