.footer-social {
  display: flex;
  justify-content: center;

  @include list-style();
}

.footer-social__item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 42px;
  height: 30px;
  padding: 17px 0;
}

@media (min-width: $tablet-width) {
  .footer-social {
    width: 236px;
  }
}

@media (min-width: $desktop-width) {
  .footer-social {
    width: 400px;
  }
}
