.footer-social {
  display: flex;
  justify-content: center;

  @include list-style();
}

.footer-social__item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 42px;
  height: 30px;
  padding: 18px 0 14px;
  margin: 0 6px;
}

.footer-social__link:hover .footer-social__icon,
.footer-social__link:active .footer-social__icon {
  fill: $green;
}

.footer-social__link:hover {
  opacity: 0.8;
}

.footer-social__link:active {
  opacity: 0.3;
}

.footer-social__icon {
  fill: #6a6a6a;
}

@media (min-width: $tablet-width) {
  .footer-social {
    width: 236px;
  }

  .footer-social__link .footer-social__icon {
    transform: scale(1.4);
  }
}

@media (min-width: $desktop-width) {
  .footer-social {
    width: 400px;
  }
}
