.form-main__title {
  margin: 15px 20px 25px;

  @include oswald-regular(36px, 60px, $black);
}

.form-main__text {
  margin: 0 20px 39px;
  padding-right: 40px;

  @include oswald-regular(14px, 18px, $black);
  @include uppercase();
}

@media (min-width: $tablet-width) {
  .form-main {
    width: 768px;
    margin: 0 auto;
  }

  .form-main__title {
    margin: 55px 30px 55px;

    @include oswald-regular(60px, 60px, $black);
  }

  .form-main__text {
    margin: 0 70px 66px;
    padding-right: 289px;

    @include oswald-regular(20px, 30px, $black);
  }
}

@media (min-width: $desktop-width) {
  .form-main {
    width: 1440px;
    margin: 0 auto;
  }

  .form-main__title {
    margin: 80px 110px 55px;
  }

  .form-main__text {
    margin: 0 110px 65px;
    padding-right: 895px;
  }
}
