.main-nav__button {
  position: absolute;
  top: 23px;
  right: 20px;

  width: 24px;
  height: 18px;

  background-color: $white;

  cursor: pointer;
  border: none;
  outline: none;
}

.main-nav--closed .main-nav__button {
  background-image: url("../img/icon-mobile-menu.svg");
}

.main-nav--opened .main-nav__button {
  background-image: url("../img/icon-close.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.main-nav__list {
  display: flex;
  flex-direction: column;

  text-align: center;
}

@media (min-width: $tablet-width) {
  .main-nav__button {
    display: none;
  }

  .main-nav__list {
    flex-direction: row;
    justify-content: space-between;

    width: 439px;

    @include oswald-medium(18px, 24px, $black);
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    box-sizing: border-box;

    width: 50%;
    padding-left: 130px;
  }

  .main-nav__list {
    width: 482px;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav--nojs .site-list__item {
    display: block;
  }

  .main-nav--nojs .main-nav__button {
    display: none;
  }
}
