.more {
  padding: 0 17px;
}

.more__title {
  position: relative;

  margin: 0 0 39px 0;

  @include oswald-regular(24px, 24px, $black);
}

.more__title::after {
  content: "";

  position: absolute;
  top: 12px;
  right: -20px;

  width: 136px;
  height: 3px;

  background-color: $green;
}

.more__list {
  @include list-style();
}

.more__item {
  margin-bottom: 24px;
  padding-left: 47px;

  @include oswald-regular(16px, 18px, $grey);
  @include uppercase();
}

.more__item:hover {
  opacity: 0.8;
}

.more__item:active {
  opacity: 0.3;
}

.more__item label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.more__input + label::before {
  content: "";

  position: absolute;
  left: -47px;
  top: -5px;

  width: 30px;
  height: 30px;

  background-color: $white;
  border: 1px solid #dedede;
}

.more__input:checked + label::after {
  content: "";

  position: absolute;
  top: 3px;
  left: -41px;

  width: 21px;
  height: 16px;

  background-image: url("../img/icon-tick.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .more {
    padding: 0 0 0 67px;
  }

  .more__title {
    margin: 61px 0 65px;

    @include oswald-regular(36px, 36px, $black);
  }

  .more__title::after {
    top: 22px;
    right: -70px;

    width: 448px;
  }

  .more__title::before {
    content: "";

    position: absolute;
    top: 22px;
    left: -68px;

    width: 30px;
    height: 3px;

    background-color: $green;
  }

  .more__list {
    display: flex;
    flex-wrap: wrap;
  }

  .more__item {
    box-sizing: border-box;

    width: 344px;
    margin-bottom: 52px;
    padding-left: 59px;

    @include oswald-regular(20px, 20px, $grey);
  }

  .more__input + label::before {
    left: -54px;

    transform: scale(1.2);
  }

  .more__input:checked + label::after {
    left: -48px;
  }
}

@media (min-width: $desktop-width) {
  .more {
    padding: 0 0 0 108px;
  }

  .more__list {
    display: flex;
  }

  .more__title::after {
    top: 22px;
    right: -110px;

    width: 1085px;
  }

  .more__title::before {
    top: 22px;
    left: -110px;

    width: 70px;
  }

  .more__item {
    width: 324px;
    margin-bottom: 62px;
  }
}
