.more {
  padding: 0 20px;
}

.more__title {
  margin: 0 0 30px 0;

  @include oswald-regular(24px, 24px, $black);
}

.more__list {
  @include list-style();
}

.more__item {
  margin-bottom: 28px;
  padding-left: 47px;

  @include oswald-regular(16px, 18px, $grey);
  @include uppercase();
}

.more__item:active {
  opacity: 0.3;
}
