.page-header {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 320px;
  margin: 0 auto;
}

.page-header__logo {
  display: block;

  padding: 11px 20px 17px 20px;

  border-bottom: 1px solid $border-color;
}

.page-header__logo-image {
  width: 191px;
  height: 38px;
}

.page-header__logo-image:hover {
  opacity: 0.8;
}

.page-header__logo-image:active {
  opacity: 0.6;
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 708px;
    margin: 0 auto;
    padding-top: 16px;
  }

  .page-header__logo {
    width: 192px;
    padding: 0;

    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    box-sizing: border-box;

    width: 1440px;
    height: 108px;
    padding-top: 54px;
  }

  .page-header__logo {
    margin-left: 110px;
  }
}
