.page-footer {
  width: 320px;
  margin: 0 auto;
  background-color: $light-grey;
}

.page-footer__grey {
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    width: 768px;
    margin: 0 auto;
  }

  .page-footer__grey {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    width: 1440px;
    margin: 0 auto;
  }

  .page-footer__grey {
    padding: 0 110px;
  }
}
