.personal {
  box-sizing: border-box;

  padding: 0 20px 8px;
  border-bottom: 1px solid $border-color;
}

.personal__list {
  @include list-style();
}

.personal__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;

  @include oswald-regular(16px, 18px, $grey);
  @include uppercase();
}

.personal__input {
  flex-grow: 2;

  margin: 0 0 0 15px;
  padding: 13px 17px 14px 18px;

  @include oswald-regular(16px, 18px, $grey);
  @include uppercase();

  outline: none;

  border: 1px solid $border-color;
}

.personal__input:hover {
  border-color: #cdcdcd;
}

.personal__input:active {
  border-color: $black;
}

@media (min-width: $tablet-width) {
  .personal {
    margin: 0 50px;
    padding-bottom: 0;

    border: none;
  }

  .personal__item {
    margin-bottom: 20px;

    @include oswald-regular(20px, 20px, $grey);
  }
}

@media (min-width: $desktop-width) {
  .personal {
    width: 570px;
    margin-left: 90px;
  }

  .personal__item:last-child {
    margin-bottom: 0;
  }
}
