
.programs {
  padding-left: 20px;
  padding-right: 20px;
}

.programs__item {
  margin-bottom: 20px;
  padding-top: 22px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 22px;

  background-color: $light-grey;
}

.programs__item-title {
  margin: 0 0 24px 0;
  padding-top: 8px;
  padding-bottom: 9px;

  @include oswald-regular(24px, 37px, $black);
  @include uppercase();
}

.programs__item-text {
  margin: 0;
}

.programs__item-link {
  display: block;
  margin-top: 22px;
  padding-top: 20px;

  @include oswald-regular(16px, 16px, $black);
  @include uppercase();

  border-top: 1px solid #d9d9d9;
}

.programs__item-link:active {
  color: $black--down;
}

@media (min-width: $tablet-width) {
  .programs {
    padding-left: 30px;
    padding-right: 30px;
  }

  .programs__item {
    margin-bottom: 30px;
    padding-top: 74px;
    padding-left: 52px;
    padding-right: 284px;
    padding-bottom: 56px;
  }

  .programs__item-text {
    font-size: 16px;
    line-height: 24px;
  }

  .programs__item-link {
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .programs {
    display: flex;
    justify-content: space-between;

    padding: 0 110px;
  }

  .programs__item {
    box-sizing: border-box;

    width: 570px;
  }
}
