.site-list {
  @include list-style();
}

.site-list__item {
  padding-top: 22px;
  padding-bottom: 24px;

  border-bottom: 1px solid $border-color;
}

.site-list__item a {
  @include oswald-medium(20px, 20px, $black);
  @include uppercase();
}

.site-list__item a:hover {
  color: $black--hover;
}

.site-list__item a:active {
  color: $black--down;
}

@media (min-width: $tablet-width) {
  .site-list__item a {
    padding-bottom: 3px;

    @include oswald-medium(18px, 24px, $black);
  }

  .site-list__item--active a {
    border-bottom: 2px solid $green;
  }

  .site-list__item {
    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item a {
    @include oswald-medium(20px, 24px, $white);
  }

  .site-list__item--active a {
    border-bottom: 2px solid $white;
  }
}
