.page-footer {
  background-color: $light-grey;
}

.footer-contacts__block {
  padding: 30px 20px 28px;
}

.footer-contacts__block--index {
  background-color: $white;
}

.footer-contacts__text {
  margin: 0;

  @include oswald-regular(16px, 20px, $black);
  @include uppercase();
}

.footer-contacts__address {
  color: $black;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
}

.footer-logo {
  margin: 0 20px;
  padding: 39px 0 32px 0;

  border-bottom: 1px solid #d9d9d9;
}

.footer-logo:hover {
  opacity: 0.8;
}

.footer-logo:active {
  opacity: 0.6;
}

.footer-social {
  margin: 0 20px;
  padding: 22px 0;

  @include list-style();

  border-bottom: 1px solid #d9d9d9;
}

.footer-copyright {
  padding: 23px 20px;
}

.footer-copyright__text {
  margin: 0;
}

.footer-copyright__link {
  font-size: 16px;
  line-height: 16px;
  color: $black;
}

.footer-copyright__link:hover {
  color: $black--hover;
  opacity: 0.8;
}

.footer-copyright__link:hover {
  color: $black--down;
  opacity: 0.3;
}
